<div class="ms-4 me-4 mt-2 mb-2">    
    <div class="row m-2">
        <button class="btn btn-primary" routerLink='/customers'>Clientes</button>
    </div>
    <div class="row m-2">
        <button class="btn btn-primary">Proveedores</button>
    </div>
    <div class="row m-2">
        <button class="btn btn-primary">ventas</button>
    </div>
    <div class="row m-2">
        <button class="btn btn-primary" [routerLink]="['/purchases']">Compras</button>
    </div>
    <div class="row m-2">
        <button class="btn btn-primary" [routerLink]="['/products']">Productos</button>
    </div>
</div>