<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <img class="logo" src="./assets/Logo-blanco-v1.svg" alt="">
  </span>
  <span class="example-spacer"></span>
  <button mat-button class="icon-btn" aria-label="Perfil">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-button class="icon-btn" aria-label="Cerrar Sesión">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>